.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  margin-top: 1rem;
}
.homeImg img {
  width: 18rem;
  border-radius: 10px;
}
.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  gap: 1rem;
}
.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.socialIcons a {
  color: white;
  font-size: 2rem;
}
.socialIcons a {
  color: white;
  font-size: 2rem;
}
.socialIcons a:hover {
  color: #b14949;
  transition: color 0.3s ease;
}
.btn {
  text-align: center;
  margin: 2rem auto;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  background-color: rgb(117, 108, 108);
  border-radius: 5px;
  padding: 0.5rem;
}
.btn:hover {
  background-color: #b14949;
  transition: background-color 0.3s ease;
}

@media (min-width: 31.25rem) {
  .home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 5rem;
  }
  .homeImg img {
    height: 29rem;
    width: 29rem;
  }
}
